.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    position:sticky;
    top: 0;
    background-color: white;
}
.left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.right{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.search{
    display: flex;
    align-items: center;
    border: lightgray 1px solid;
    padding: 10px;
    gap: 10px;
}
input{
    border: none;
    width: 400px;
}
.appname{
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}